
[Unit]
Description=Pi Somfy Shutter Service
After=network-online.target

[Service]
User=pi
ExecStart=sudo bash /home/pi/Pi-Somfy/start.sh
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=exec


[Install]
WantedBy=multi-user.target